<header class="search">
    <div class="search__box">
        <div class="container">
            <div class="row">
                <a hreaf="/film-catalog/"><img [src]="logo.img" [alt]="logo.img_alt" class="search__logo"></a>
                <form class="search__form">
                    <input [placeholder]="input.placeholder" [type]="input.type" [autocomplete]="input.autocomplete" autofocus matInput [formControl]="searchFormControl">
                    <button (click)="refresh()">
                        <span class="material-icons">
                            search
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>

<section class="movie__results">
    <div *ngIf="isDone; else welcome">
        <div class="container">
            <div class="row">
                <div *ngFor="let movie of movies">
                    <div class="movie__card" (click)="gotoDetails(movie)">
                        <div [ngSwitch]="movie.Poster === 'N/A' || movie.Poster !== 'N/A'">
                            <img class="movie__card--img" *ngSwitchCase="movie.Poster !== 'N/A'" src="{{movie.Poster}}">
                            <img class="movie__card--img" *ngSwitchCase="movie.Poster === 'N/A'" src="http://www.novelupdates.com/img/noimagefound.jpg">
                        </div>
                        <div class="movie__text">
                            <span class="movie__text--overflow">{{movie.Title}}</span>
                            <span> {{movie.Year}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #welcome>
    <img src="./src/assets/imgs/welcome-img.svg" alt="" class="welcome__img">
</ng-template>