@import '../../styles.scss';
.search {
    &__box {
        background-color: $secondary-color;
        -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        @media (max-width: $breakpoint-xs) {
            .row {
                flex-flow: column;
            }
        }
    }
    &__logo {
        width: 110px;
        height: 40px;
        @media (max-width: $breakpoint-xs) {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
    &__form {
        display: flex;
        margin: 0 auto;
        input {
            border: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: $terciary-color;
            padding: 8px;
            padding-left: 15px;
            font-size: 14px;
            font-family: $text-font;
            color: $text-color;
            @media (min-width: $breakpoint-xs) {
                width: 300px;
            }
        }
        button {
            border: none;
            border: 1px solid $primary-color;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: $terciary-color;
            padding: 8px;
            margin-left: -20px;
            span {
                color: $primary-color;
            }
            &:hover {
                background-color: $primary-color;
                span {
                    color: $terciary-color;
                }
            }
        }
    }
}

.welcome__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding-top: 50px;
    @media (max-width: $breakpoint-xs) {
        width: 95%;
    }
}

.movie {
    &__results {
        padding-bottom: 30px;
        .row {
            justify-content: center;
        }
    }
    &__card {
        background-color: $terciary-color;
        margin-top: 30px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
        width: 200px;
        height: 350px;
        margin-right: 5px;
        @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-md) {
            margin-right: 10px;
        }
        @media (min-width: $breakpoint-md) {
            width: 230px;
            margin-right: 5px;
            margin-left: 5px;
        }
        @media (min-width: $breakpoint-lg) {
            width: 220px;
        }
        &--img {
            object-fit: cover;
            border-radius: 20px;
            width: 100%;
            height: 300px;
        }
    }
    &__text {
        padding: 5px 10px 0px 10px;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: $text-color;
        &--overflow {
            white-space: nowrap;
            display: inline-block;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}