@import '../../styles.scss';
.details {
    .row {
        justify-content: space-between;
    }
    .btn__back {
        font-size: 35px;
        color: $terciary-color;
        background-color: $primary-color;
        border: 2px solid transparent;
        border-radius: 50px;
        &:hover {
            background-color: transparent;
            border: 2px solid $primary-color;
            color: $primary-color;
        }
    }
}

.movieDetails {
    margin-top: 30px;
    margin-bottom: 30px;
    @media (min-width: $breakpoint-md) {
        .row {
            justify-content: space-between;
        }
    }
    &__box {
        background-color: $secondary-color;
        border-radius: 15px;
        &--center {
            //width: 100%;
            @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
                width: 350px;
            }
            @media (min-width: $breakpoint-lg) {
                max-width: 300px;
            }
            @media (min-width: $breakpoint-xl) {
                max-width: 480px;
            }
            padding: 20px 30px 20px 30px;
            @media (max-width: $breakpoint-lg - 1) {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
        &--right {
            width: 100%;
            min-height: 350px;
            position: relative;
            @media (max-width: $breakpoint-lg - 1) {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
            @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
                width: 410px;
                margin: 0 0 0 auto;
            }
            @media (min-width: $breakpoint-lg) {
                width: 300px;
            }
        }
        &--flex {
            display: flex;
            &Baseline {
                align-items: baseline;
            }
        }
        &--img {
            max-width: 230px;
            position: absolute;
            bottom: 20px;
            left: 10%;
        }
    }
    &__poster {
        margin: 0 auto;
        margin-bottom: 10px;
        @media (min-width: $breakpoint-md) {
            width: 300px;
            margin: inherit;
            margin-bottom: 0px;
        }
        img {
            width: 100%;
            height: 300px;
            border-radius: 15px;
            object-fit: cover;
            -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
            @media (min-width: $breakpoint-md) {
                height: 460px;
            }
        }
    }
    &__header {
        font-weight: 600;
    }
    &__title {
        font-size: 25px;
        color: #000;
        margin-bottom: 10px;
    }
    &__releaseYear {
        font-size: 15px;
        color: $primary-color;
        margin-left: 10px;
    }
    &__rate {
        align-items: center;
        padding: 5px 10px 5px 10px;
        background-color: $primary-color;
        color: $terciary-color;
        font-size: 16px;
        border-radius: 5px;
        .material-icons {
            font-size: 17px;
            margin-right: 5px;
        }
    }
    &__runtime {
        font-weight: 500;
    }
    &__infoMargin {
        margin-top: 25px;
    }
    &__block {
        background-color: $terciary-color;
        border-radius: 10px;
        padding: 25px 10px 15px 10px;
        .subtitle {
            font-weight: 500;
        }
        a {
            color: $primary-color;
            text-decoration: none;
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__rateBlock {
        color: $terciary-color;
        background-color: $primary-color;
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        border-radius: 5px;
        margin-right: 15px;
    }
}

.aditionalInfos {
    padding: 20px 20px 0px 20px;
    &__title {
        font-weight: 600;
    }
}