<header class="search details">
    <div class="search__box">
        <div class="container">
            <div class="row">
                <a href="/">
                    <span class="material-icons btn__back">
                        keyboard_arrow_left
                    </span>
                </a>
                <img [src]="logo.img" [alt]="logo.img_alt" class="search__logo">
            </div>
        </div>
    </div>
</header>

<section class="movieDetails">
    <div class="container">
        <div class="row">
            <div class="movieDetails__poster col-md-4">
                <img [src]="data.Poster" alt="">
            </div>
            <div class="col-md-5">
                <div class="movieDetails__box movieDetails__box--center">
                    <div class="movieDetails__header">
                        <div class="movieDetails__box--flex movieDetails__box--flexBaseline">
                            <h2 class="movieDetails__title"> {{data.Title}} </h2>
                            <span class="movieDetails__releaseYear"> {{data.Year}} </span>
                        </div>
                        <div class="movieDetails__box--flex">
                            <div class="movieDetails__box--flex movieDetails__rate">
                                <span class="material-icons">
                                    star_rate
                                </span>
                                <span> {{data.imdbRating}} </span>
                            </div>
                            <div class="ml-3 flex-column">
                                <span class="colorText__primary"> {{data.Genre}} </span>
                                <span class="movieDetails__runtime"> {{data.Runtime}} | {{data.Rated}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="movieDetails__infoMargin">
                        {{data.Plot}}
                    </div>
                    <div class="movieDetails__infoMargin flex-column">
                        <span> Director: {{data.Director}} </span>
                        <span> Writer: {{data.Director}} </span>
                        <span> Stars: {{data.Actors}} </span>
                    </div>
                    <div class="movieDetails__infoMargin movieDetails__block">
                        <div class="movieDetails__box--flex mb-2">
                            <span class="movieDetails__rateBlock"> {{data.Metascore}} </span>
                            <div class="flex-column">
                                <span class="subtitle"> Metascore </span>
                                <span> From <a href="https://www.metacritic.com/"> metacritc.com </a> </span>
                            </div>
                        </div>
                        <div class="movieDetails__box--flex mb-2">
                            <span class="movieDetails__rateBlock"> {{data.imdbVotes}} </span>
                            <div class="flex-column">
                                <span class="subtitle"> Votes </span>
                                <span> From <a href="https://www.metacritic.com/"> imdb.com </a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movieDetails__box movieDetails__box--right col-md-3">
                <div class="aditionalInfos"> <span class="aditionalInfos__title"> Country: </span> {{data.Country}} </div>
                <div class="aditionalInfos"> <span class="aditionalInfos__title"> Release date: </span> {{data.Released}} </div>
                <div class="aditionalInfos"> <span class="aditionalInfos__title"> Awards: </span> {{data.Awards}} </div>
                <img src="../../assets/imgs/details-img.svg" alt="Imagem decorativa do bloco" class="movieDetails__box--img">
            </div>
        </div>
    </div>
</section>